/**
    This css file is used for creating cards (i.e. Team Member cards or Event Cards)
    It is imported by the TeamCard.tsx & EventCard.tsx files
    There are both specific and general classes here including:
        - Card ------------------------> Parent class. Defines deneral shape of the full card
        - CardBorder ------------------> Adds border to card
        - SpreadColumn ----------------> Displays items in column with space between
        - SpreadRow -------------------> Displays items in row with space between
        - stack-top -------------------> stacks item at z-index 9
        - Event-img -------------------> Dimensions for event card images
        - Team-img --------------------> Dimensions and positioning for team card images
        - Card-TYPE -------------------> Event card
        - Card-H3 ---------------------> Event card
        - Card-P ----------------------> Event card
        - TeamCard-HoverDisplay -------> Team card display when hovered
        - TeamCard-DetailsHeader ------> Team card Header container
        - TeamCard-DetailsContentUpper > Team card Upper content Container (AskMe & Social Banner)
        - TeamCard-AskMe  -------------> Team card AskMe Section
        - TeamCard-Social -------------> Team card Social Banner
        - TeamCard-DetailsContentLower > Team card Lower content Container (Desc & Team)
        - TeamCard-DescBox ------------> Team card Description box
        - TeamCard-Desc ---------------> Team card Description
        - TeamCard-Team ---------------> Team Card Main Team text
*/
.Card {
    width: 435.2px;
    height: 614.4px;
    background-color: var(--black);
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    gap: 24px;
    transition: all 0.3s ease-in-out;
}
    .Card:hover {
        transform: scale(1.02);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

.CardBorder {
    padding: 0px;
    border: solid 4px var(--black);
}

.SpreadColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.SpreadRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stack-top {
    z-index: 9;
}

.ease-anim {
    transition: all 0.3s ease-in-out;
}

.Event-img {
    width: 100%;
    height: 46%;
    object-fit: cover;
}

.Team-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.Card-TYPE {
    width: 100%;
    height: 24px;
}

.Card-H3{
    margin: 0px;
    color: var(--white);
    font-family: Montserrat;
    /**font-size: 32px; Disable because it conflicts with transition*/
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}

.Card-P {
    color: var(--white);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.TeamCard-HoverDisplay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(22, 22, 22, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 21px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--white);
    text-shadow: -2px 0 var(--black), 0 2px var(--black), 2px 0 var(--black), 0 -2px var(--black);
}


.TeamCard-DetailsHeader {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.TeamCard-DetailsContentUpper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.TeamCard-AskMe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-weight: 700;
    line-height: 32px;
    list-style-type: circle;
}

    .TeamCard-AskMe p {
        margin-bottom: 0px;
    }

    .TeamCard-AskMe ul {
        margin-top: 0px;
    }

.TeamCard-Social {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.TeamCard-Social a button {
    width: 50%;
    height: 40px;
    border: none;
    background-color: var(--white);
}

.TeamCard-DetailsContent{
    width: calc(435.2px - 32px);
    padding-top: 16px;
    padding-bottom: 16px;
}

.TeamCard-DetailsContentLower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    width: 100%;
}

.TeamCard-DescBox {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    width: 100%;
    height: fit-content;
    background: #FFFFFF;
    border: 2px solid #161616;
    border-radius: 16px;
}

.TeamCard-Desc {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 14px; /* I know that i had ruin 8px rule :( */
    color: var(--black);
    text-shadow: none;
}

.TeamCard-Team {
    font-family: 'Aurebesh-English';
}