/**
  * EventsSection.css is the style sheet for the no longer in use eventsSection.tsx, which was a previous
  * iteration of displaying our upcoming events.
  * -> event-cards - event cards container
  * -> events-section - html section element
  * -> section-title - UNUSED
  * -> type-of-event__btn - button list container
  * -> selected - palette swap for selected buttons
  * -> selected:hover - palette swap for hovered, selected buttons
  **/
.event-cards {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.events-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 0;
}
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.type-of-event__btn {
  display: flex;
  gap: 25px;
  padding: 40px 0;
}
.selected {
  border: none;
  background-color: var(--black);
  color: var(--white);
}
.selected:hover {
  border: none;
  background-color: var(--black);
  opacity: 0.8;
  color: var(--white);
}
