.WhatWeOffer {
    /* width: 1920px; */
    max-width: 1400px; /* changed by Aleksandr on Aug 18 */
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    background-color: var(--white)
}

.WhatWeOffer-Container {
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 80px;
}

.WhatWeOffer-Row {
    width: 1400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* allow warpping onto multiple lines */
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    row-gap: 80px !important;

}

.WhatWeOffer-Row > *{
    flex-basis: 31%; /* 3 items per row */
    text-decoration: none;
}

@media screen and (max-width: 1400px) {
    .WhatWeOffer-Row {
        width: fit-content;
    }
}
