.rightblack {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: right;
    color: var(--black);
}

.rightwhite {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: right;
    color: var(--white);
}

.leftblack {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: left;
    color: var(--black);
}

.leftwhite {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: left;
    color: var(--white);
}

.btnsleft {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: start;
}

.btnsright {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: end;
}

.textContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}