/* card elements
.card__title,
.card-detail {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  text-transform: capitalize;
}
.card-title__container {
  width: 100%;
}
.card-info {
  font-size: 24px;
  text-align: left;
  margin: 0;
  font-weight: 400;
  height: 160px;
  overflow: scroll;
}
.card-info__container {
  width: 100%;
}
.card-details {
  display: flex;
  max-width: 50%;
}
.card__hero {
  width: 100%;
  height: 352px;
}
.card-image__hero {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.card-bottom {
  height: 24px;
}
.fun {
  background-color: var(--green);
}
.career {
  background-color: var(--yellow);
}
.coding {
  background-color: var(--blue);
}
.card-details__container {
  display: flex;
  justify-content: space-between;
}
.card-details__container,
.card-info__container,
.card-title__container {
  margin: 0 0 24px 0;
}
.card-main {
  margin: 24px 0;
  padding: 0 24px;
  height: 336px;
}
.card {
  height: 760px;
  width: 544px;
  border-radius: 25px;
  overflow: hidden;
  background-color: var(--black);
  transition: all 1s;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.card p,
.card h3 {
  color: whitesmoke;
}
.card:hover {
  transform: scale(1.02);
} */
