.Header-Container  {
    margin-left: auto;
    margin-right: auto;
    height: 78px;
    width: 1400px;
    left: 260px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    gap: 80px;

    left: -6413px;
    top: 5814px;
}

.Header-Menu {
    height: 40px;
    width: 1128px;
    left: 272px;
    top: 38px;
    border-radius: 0px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.Header-Menu > searchbox {
    margin-left: 40px;
}

#Logo {
    height: 78px;
    width: 154.69805908203125px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}