.MainPage {
    height: 100vh;
   display: flex;
   flex-direction: column;
    
}

.MainPage-BodyContainer {
    display: flex;
    margin: auto;
   
    width: 1334px;
    height: 500px;

}

.MainPage-BodyContainer-Left {
   width: 850px;
   height: 351px;
   margin-top: auto;


    
}

.MainPage-BodyContainer-Left > h1 {
width: 850px;
font-family: Montserrat;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 78px;
letter-spacing: 0em;
text-align: left;

font-family: Montserrat;
font-size: 64px;
font-style: normal;
font-weight: 300;
line-height: 78px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 32px;

}

.MainPage-BodyContainer-Left > h1 > span {
    color: var(--red);
}

.MainPage-BodyContainer-Left > p{
width: 522px;
font-family: Montserrat;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 59px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 80px;

}

.MainPage-BodyContainer-Left-ButtonsContainer {
    width: 756px;
    display: flex;
    justify-content: space-between;

}

.MainPage-BodyContainer-Left-ButtonsContainer > button:hover {
    color: white;
    background-color: var(--oxford-blue);
    transition: all 200ms ease-in-out;
    border-radius: 50px;
}

.MainPage-BodyContainer-Left-ButtonsContainer > button {
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
border-style: none;
background-color: transparent;
cursor: pointer;

}

.MainPage-BodyContainer-Right {
   width: 500px;
   height: 500px;
   
}

.MainPage-FooterContainer {
    display: flex;
    width: 1334px;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;

}

.MainPage-klogo {
    height: 100px;
    width: 170px;
   

}

.MainPage-discord {
    height: 50px;
    width: 50px;
}

.MainPage-insta {
    height: 50px;
    width: 50px;
}


.MainPage-Blob {
    position: absolute;
    z-index: -2;
    right: 0;
}