.MainPage{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.MainPage-BodyContainer{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1334px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.MainPage-BodyContainer-Left{
    width: 850px;
    height: 351px;
    display: flex;
    flex-direction: column;
    margin-top: auto

}

.MainPage-BodyContainer-Left > h1 {
    width: 850px;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 32px;

    display: inline !important;
}

.MainPage-BodyContainer-Left > h1 > h1{
    display: inline;
}


.MainPage-BodyContainer-Left > h1 {
    display: inline;
}

.MainPage-BodyContainer-Left > h1 > h1 >  span {
    color: var(--red);
}

.MainPage-BodyContainer-Left > h2 {
    width: 522px;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 80px;
}

.MainPage-BodyContainer-Left-ButtonsContainer{
    width: 756px;
    display: flex;   
    justify-content: space-between;
}
.MainPage-BodyContainer-Left-ButtonsContainer > button{
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    transition: all 200ms ease-in-out;
}

.MainPage-BodyContainer-Left-ButtonsContainer > button:hover{
    color: #ffffff;
    border-radius: 50px;
    background-color: var(--oxford-blue);
}



.MainPage-BodyContainer-Right{
    width: 500px;
    height: 500px;
}


.MainPage-FooterContainer{
    display: flex;
    width: 1334px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 124px;
}

.MainPage-FooterContainer > :nth-child(1){
    height: 47px;
    width: 185px;
    left: 197px;
    top: 944px;
    border-radius: 0px;

}

.MainPage-FooterContainer > :nth-child(2){
    margin-left: auto;
}

.MainPage-FooterContainer > :nth-child(3){
    margin-left: 20px;
}

.MainPage-Blob{
    position: absolute;
    z-index: -999;
    right: 0;
}

#Mobile-Footer{
    visibility: hidden;
    width: 0;
}

#Desktop-Footer{
    visibility: visible;
}

@media screen and (max-width: 1370px) {


    .MainPage-BodyContainer{
        width: fit-content;
        flex-direction: column-reverse;
    }

    .MainPage-FooterContainer{
        width: 100%;
    }

    #Mobile-Footer{
        visibility: visible;
        width: 100%;
    }

    #Desktop-Footer{
        visibility: hidden;
        width: 0%;
    }


    .MainPage-BodyContainer-Left > h1 {
        font-family: Montserrat;
        font-size: 56px;
        font-weight: 400;
        line-height: 68px;
        letter-spacing: 0em;
        width: 380px;    
        word-break: break-all;

    }

    .MainPage-BodyContainer-Left > h1 > h1{
        display: block;
    }
    

    .MainPage-BodyContainer-Left > h2 {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        height: 58px;
        width: 261px;
        left: 37px;
        top: 533px;

    }
    
}