@import url('https://fonts.googleapis.com/css2?family=Montserrat');

:root{
  --oxford-blue: #263238;
}

* {
  font-family: 'Montserrat', sans-serif;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, h1, p {
  margin: 0;
  padding: 0;
}