body, h1, h2 {
  margin: 0;
  padding: 0;
}

:root{
  --oxford-blue: #263232;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}
