@import url('https://fonts.googleapis.com/css2?family=Montserrat');

:root{
  --oxford-blue: #263238;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body, h1, h2 {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}